<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>begin_time</key>
		<string>2015-08-21</string>
		<key>hasweb</key>
		<integer>1</integer>
		<key>height</key>
		<integer>400</integer>
		<key>id</key>
		<integer>223</integer>
		<key>img</key>
		<string>http://pic.huodongjia.com/event/2015-08-19/event135330.jpg</string>
		<key>keywords</key>
		<string>咖啡 醇香 温馨</string>
		<key>text</key>
		<string>&lt;body&gt;&lt;p&gt;上帝说，一个星期有七天的生活，巴尔扎克说，生活就是一杯咖啡。所以我们把各自的心情都安排在七个杯子里，小勺子转动的是心情，浮上来的是你的愉悦，沉至杯底的是你无限的希望，喝下去的，是生活的全部。&lt;/p&gt;&lt;/body&gt;</string>
		<key>themeurl</key>
		<string>http://api.xiaorizi.me/api/themedetail/?themeid=223</string>
		<key>title</key>
		<string>一勺子糖的温度与浓度</string>
		<key>width</key>
		<integer>640</integer>
	</dict>
	<dict>
		<key>begin_time</key>
		<string>2015-08-12</string>
		<key>hasweb</key>
		<integer>1</integer>
		<key>height</key>
		<integer>400</integer>
		<key>id</key>
		<integer>208</integer>
		<key>img</key>
		<string>http://pic.huodongjia.com/event/2015-08-11/event134466.jpg</string>
		<key>keywords</key>
		<string>人文 艺术 韵味</string>
		<key>text</key>
		<string>&lt;body&gt;&lt;p&gt;艺术是什么？你想知道国母的御用设计师怎么解说艺术吗。艺术是最没用的东西，然而最好的东西势必是最没用的，所以无用亦有用。那些渴望的最好东西，不管意识上多么在乎它的有用，潜意识与本能，却一定会被那些最好，最没用的东西所吸引。因热爱无用而赋予它新的价值，价值从不在物件本身，而在于懂得欣赏和珍惜的心。&lt;/p&gt;&lt;/body&gt;</string>
		<key>themeurl</key>
		<string>http://api.xiaorizi.me/api/themedetail/?themeid=208</string>
		<key>title</key>
		<string>跟国母看艺术，脑洞太大填不住</string>
		<key>width</key>
		<integer>640</integer>
	</dict>
	<dict>
		<key>begin_time</key>
		<string>2015-08-08</string>
		<key>hasweb</key>
		<integer>1</integer>
		<key>height</key>
		<integer>426</integer>
		<key>id</key>
		<integer>200</integer>
		<key>img</key>
		<string>http://pic.huodongjia.com/event/2015-08-08/event134146.jpg</string>
		<key>keywords</key>
		<string>乐活 赏味 料理</string>
		<key>text</key>
		<string>&lt;body&gt;&lt;p&gt;食物若比爱，要么全心全意深坠，要么全然放弃。于是在温存食物的爱意里，我们心甘情愿成为这世界上最平凡的奥妙，不可或缺的配角。在每一个为美食而行走的路上，在每一道佳肴里，品尝着人生的酸甜苦辣，而后，承认自己是个彻底的贪吃的爱吃的深吃的人，倘然任性地成为它的主人。&lt;/p&gt;&lt;/body&gt;</string>
		<key>themeurl</key>
		<string>http://api.xiaorizi.me/api/themedetail/?themeid=200</string>
		<key>title</key>
		<string>想要问你敢不敢，像我为爱吃狂</string>
		<key>width</key>
		<integer>640</integer>
	</dict>
	<dict>
		<key>begin_time</key>
		<string>2015-08-05</string>
		<key>hasweb</key>
		<integer>1</integer>
		<key>height</key>
		<integer>400</integer>
		<key>id</key>
		<integer>196</integer>
		<key>img</key>
		<string>http://pic.huodongjia.com/event/2015-08-04/event133365.jpg</string>
		<key>keywords</key>
		<string>高雅 酷炫 新奇</string>
		<key>text</key>
		<string>&lt;body&gt;&lt;p&gt;哭过笑过的地方叫北京，玩过闹过的地方叫北京，爱过恨过的地方叫北京，住过拆了的地方叫北京，吃饱了就睡的地方叫北京，走过路过的都是北京，所以别瞎逛了，卤煮带你们寻找新高度，偏离航线也能飞出新视线，无所不能的北京。&lt;/p&gt;&lt;/body&gt;</string>
		<key>themeurl</key>
		<string>http://api.xiaorizi.me/api/themedetail/?themeid=196</string>
		<key>title</key>
		<string>别瞎逛了 需要探索新高度</string>
		<key>width</key>
		<integer>600</integer>
	</dict>
	<dict>
		<key>begin_time</key>
		<string>2015-08-01</string>
		<key>hasweb</key>
		<integer>1</integer>
		<key>height</key>
		<integer>400</integer>
		<key>id</key>
		<integer>187</integer>
		<key>img</key>
		<string>http://pic.huodongjia.com/event/2015-07-31/event133130.jpg</string>
		<key>keywords</key>
		<string>乐活 赏味 有趣</string>
		<key>text</key>
		<string>&lt;body&gt;&lt;p&gt;世界那么大，我想去看看! 世界那么大，你有时间去看看吗？你有勇气去看看吗？你有足够的粪土去看看吗旅行的冲动就如绚烂的烟花稍纵即逝，狂欢过后还是要面对漫漫岁月的平淡。不如来一场不出京城的跨国盛宴，满足你环游世界的心愿。&lt;/p&gt;&lt;/body&gt;</string>
		<key>themeurl</key>
		<string>http://api.xiaorizi.me/api/themedetail/?themeid=187</string>
		<key>title</key>
		<string>来场大爱，从早到晚的国际盛宴</string>
		<key>width</key>
		<integer>640</integer>
	</dict>
</array>
</plist>
